<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>estudo flask</title>
</head>
<body>
    <div>
        <h3>estudo Flask</h3>
        <h5> Moises</h5>
    </div>

    <div>
        <p>Bem vindo {{dicionario.usuario}} ao Curso de Flask</p>
        <p><b>Sua idade é: </b>{{dicionario.idade}}</p>
        <p><b>Sua altura é: </b>{{dicionario.altura}}</p>
        <a href="{{url_for('nova')}}">Link para nova pag</a>
    </div>
</body>
</html>