<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>estudo flask</title>
</head>
<body>
    <div>
        <h3>estudo Flask</h3>
        <h5> Moises</h5>
    </div>

    <div>
        <p>Curso de Flask</p>
        <a href="{{url_for('nova')}}">Link para nova pag</a> #quando for referenciar um link da sua view,tem q usar o url_for, 
        pq aí nao precisa se preocupar com a rota em si, so passar o nome da view('nova') a rota pode mudar, mas o nome da funçao
        dificilmente vai mudar.
    </div>
</body>
</html>